body {
    background-color: black;
}

h1, h2, h3 {
    color: navy;
    background-color: lightblue;
    text-align: center;
    font-size: 50px;
}

h2, h3 {
    text-align:left;
    font-size: 2em;
}

li a:visited, li a:link {
    color: lightblue;
}

li a:hover {
    color: plum;
}

p {
    color: plum;
}